/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;900&display=swap');

@import "tailwindcss";
@import "tailwindcss/utilities";

@layer base {
  :root {
    /* --font-oswald: 'Oswald', sans-serif; */
    --font-libre-franklin: 'Libre Franklin', sans-serif;
  }
}

@layer utilities {
  /* .font-oswald {
    font-family: var(--font-oswald);
  } */
  .font-libre-franklin {
    font-family: var(--font-libre-franklin);
  }

  .word-spacing-tighter { word-spacing: -0.01em; }
  .word-spacing-tight { word-spacing: -0.05em; }
  .word-spacing-normal { word-spacing: 0; }
  .word-spacing-wide { word-spacing: 0.05em; }
  .word-spacing-wider { word-spacing: 0.1em; }
  .word-spacing-widest { word-spacing: 0.2em; }
  .word-spacing-custom { word-spacing: var(--word-spacing); }
}

/* custom colors */
.text-brand-red {
  color: #d81313;
}

.bg-brand-red {
  background-color: #d81313;
}

.decoration-brand-red {
  text-decoration-color: #d81313;
}

.ring-brand-red {
  --tw-ring-color: #d81313;
}




